@font-face {
  font-family: "PicoA";
  src: url("/fonts/pico/PicoA-Hairline.woff2") format("woff2"), url("/fonts/pico/PicoA-Hairline.woff") format("woff"), url("/fonts/pico/PicoA-Hairline.ttf") format("truetype");
  font-weight: 100;
}
@font-face {
  font-family: "PicoA";
  src: url("/fonts/pico/PicoA-Extralight.woff2") format("woff2"), url("/fonts/pico/PicoA-Extralight.woff") format("woff"), url("/fonts/pico/PicoA-Extralight.ttf") format("truetype");
  font-weight: 200;
}
@font-face {
  font-family: "PicoA";
  src: url("/fonts/pico/PicoA-Light.woff2") format("woff2"), url("/fonts/pico/PicoA-Light.woff") format("woff"), url("/fonts/pico/PicoA-Light.ttf") format("truetype");
  font-weight: 300;
}
@font-face {
  font-family: "PicoA";
  src: url("/fonts/pico/PicoA-Semilight.woff2") format("woff2"), url("/fonts/pico/PicoA-Semilight.woff") format("woff"), url("/fonts/pico/PicoA-Semilight.ttf") format("truetype");
  font-weight: 400;
}
@font-face {
  font-family: "PicoA";
  src: url("/fonts/pico/PicoA-Book.woff2") format("woff2"), url("/fonts/pico/PicoA-Book.woff") format("woff"), url("/fonts/pico/PicoA-Book.ttf") format("truetype");
  font-weight: 500;
}
@font-face {
  font-family: "PicoA";
  src: url("/fonts/pico/PicoA-Regular.woff2") format("woff2"), url("/fonts/pico/PicoA-Regular.woff") format("woff"), url("/fonts/pico/PicoA-Regular.ttf") format("truetype");
  font-weight: 600;
}
@font-face {
  font-family: "PicoA";
  src: url("/fonts/pico/PicoA-Medium.woff2") format("woff2"), url("/fonts/pico/PicoA-Medium.woff") format("woff"), url("/fonts/pico/PicoA-Medium.ttf") format("truetype");
  font-weight: 700;
}
@font-face {
  font-family: "PicoA";
  src: url("/fonts/pico/PicoA-Bold.woff2") format("woff2"), url("/fonts/pico/PicoA-Bold.woff") format("woff"), url("/fonts/pico/PicoA-Bold.ttf") format("truetype");
  font-weight: 800;
}
@font-face {
  font-family: "PicoA";
  src: url("/fonts/pico/PicoA-Black.woff2") format("woff2"), url("/fonts/pico/PicoA-Black.woff") format("woff"), url("/fonts/pico/PicoA-Black.ttf") format("truetype");
  font-weight: 900;
}
/* flux */
@font-face {
  font-family: "flux";
  src: url("/fonts/flux/fluxGX.woff2") format("woff2 supports variations"), url("/fonts/flux/fluxGX.woff2") format("woff2-variations");
  font-weight: 100 900;
  font-stretch: 100 500%;
  font-style: normal;
}
/* times */
@font-face {
  font-family: "Times Now";
  src: url("/fonts/times/TimesNow-ExtraLight.woff2") format("woff2"), url("/fonts/times/TimesNow-ExtraLight.ttf") format("truetype");
  font-weight: 100;
}
@font-face {
  font-family: "Times Now";
  src: url("/fonts/times/TimesNow-ExtraLightItalic.woff2") format("woff2"), url("/fonts/times/TimesNow-ExtraLightItalic.ttf") format("truetype");
  font-weight: 100;
  font-style: italic;
}
@font-face {
  font-family: "Times Now";
  src: url("/fonts/times/TimesNow-Light.woff2") format("woff2"), url("/fonts/times/TimesNow-Light.ttf") format("truetype");
  font-weight: 200;
}
@font-face {
  font-family: "Times Now";
  src: url("/fonts/times/TimesNow-LightItalic.woff2") format("woff2"), url("/fonts/times/TimesNow-LightItalic.ttf") format("truetype");
  font-weight: 200;
  font-style: italic;
}
@font-face {
  font-family: "Times Now";
  src: url("/fonts/times/TimesNow-SemiBold.woff2") format("woff2"), url("/fonts/times/TimesNow-SemiBold.ttf") format("truetype");
  font-weight: 500;
}
@font-face {
  font-family: "Times Now";
  src: url("/fonts/times/TimesNow-SemiBoldItalic.woff2") format("woff2"), url("/fonts/times/TimesNow-SemiBoldItalic.ttf") format("truetype");
  font-weight: 500;
  font-style: italic;
}