* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  user-select: none;
  color: #333;
}

body {
  padding: 3px 10px;
}

h1 {
  font: 700 100px/.8 "Pico CB", sans-serif;
  transform: translateX(-4.55px);
}

h2 {
  font: 600 50px/.9 "Pico CB", sans-serif;
  transform: translateX(-2.5px);
}

h3 {
  font: 600 25px/.9 "Pico CB", sans-serif;
  transform: translateX(-1.5px);
  margin-bottom: 5px;
}

p {
  font: 500 12px/1.2 "Pico CB", sans-serif;
  letter-spacing: 0.3px;
}

a {
  text-decoration: none;
  background: 0;
  /* opacity: 1; */
}

a:hover {
  background: #333;
  color: white;
  /* opacity: 0.5; */
}