* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  user-select: none;
  color: #555;
}

*::selection {
  background: rgba(0,0,0,0.2);
}

::webkit-scrollbar {
  display: none;
}

body {
  /* padding: 3px 10px; */
  /* overflow-x: hidden; */
  z-index: 0;
  width: 100vw;
  background: #fff;
}

#nav {
  position: fixed;
  top: 0;
  padding: 3px 10px;
  width: 100vw;
  z-index: 10;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  /* background: green; */
}

#navleft {
  text-align: left;
}

#navcenter {
  text-align: center;
}

#navright {
  text-align: right;
}

#main {
  /* position: absolute; */
  margin: 36px auto 5px;
  width: calc(100% - 10px);
  max-width: 600px;
}

#main_flux {
  margin-top: 18px;
  padding: 3px 10px;
}

#player {
  margin: 18px 0 0;
  padding: 8px 10px 10px;
  background: #fff;
  border-radius: 4px;
}

audio {
  margin: 8px 0 0 -2px;
  width: 100%;
}

#header {
  text-align: center;
  padding-bottom: 12px;
}

#header img {
  width: calc(100%);
  max-width: 600px;
}

#columns {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 10px;
  /* background: grey; */
  /* padding: 0 50px; */
}

#gallery {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 10px;
  margin-top: 12px;
}

#gallery a:hover {
  color: #bbb;
  background: #fff;
}

#gallery div {
  /* background: #fff; */
  text-align: center;
}

#gallery div img {
  /* box-sizing: content-box; */
  width: 100%;
  box-shadow: 0 8px 24px rgba(255,255,255,0.7);
  margin-bottom: 2px;
}

.flux {
  font-family: "flux";
  letter-spacing: normal;
  text-transform: lowercase;
  /* -webkit-font-smoothing: none; */
}

h1.flux {
  font: 200 10vmin/1 "flux";
}

h2.flux {
  font: 300 5vmin/1 "flux";
}

h3.flux, h4.flux, p.flux {
  font: 400 15px/1 "flux";
  letter-spacing: 1px;
}

h1 {
  font: 200 55px/.8 "PicoA", sans-serif;
  transform: translateX(-4.35px);
}

h2 {
  font: 700 55px/.85 "PicoA", sans-serif;
  transform: translateX(-2.3px);
  letter-spacing: -2.2px;
}

h3 {
  font: 400 25px/.9 "PicoA", sans-serif;
  transform: translateX(-2px);
  /* margin-bottom: 5px; */
}

h4 {
  font: 400 18px/1 "PicoA", sans-serif;
  transform: translateX(-0.5px);
  letter-spacing: 0.5px;
}

p {
  font: 500 12px/1.2 "PicoA", sans-serif;
  letter-spacing: 0.3px;
}

.red {
  color: #f30;
}

a {
  text-decoration: none;
  /* background: none; */
}

a:hover {
  background: #555;
  color: #fff;
}

a.red:hover {
  background: #f30;
  color: #fff;
}

@media (max-width: 500px) {
  h2 {
    font: 700 40px/.85 "PicoA", sans-serif;
    transform: translateX(-2.3px);
    letter-spacing: -1.75px;
  }
  .desktop {
    display: none;
  }
  #columns.mobile {
    grid-template-columns: 1fr;
    grid-gap: 10px;
  }
}

@media (min-width: 501px) {
  .mobile {
    display: none;
  }
}