extends main.pug

block content
  #main
    #header
      h3.holy past compilations
    #gallery
      div
        a(href="https://drive.google.com/drive/folders/1zMVM6I9gjXg-mcCr_PjORyK-etskVPnN?usp=sharing") #[img(src="img/fluxcover.png")] #[h4.holy conejobeat_flux]
      div
        a(href="https://drive.google.com/drive/folders/1oaA6qT7OzrJ_MFra3vWNaudx7Cusuzy-?usp=sharing") #[img(src="img/lucky.png")] #[h4.holy LUCKY CONEJOBEAT]
      div
        a(href="https://drive.google.com/drive/folders/1XXZQtFo-Qo2edbu6stAEVD6EPT47HQw4?usp=sharing") #[img(src="img/season1.png")] #[h4.holy conejoBeat season 1]
      div
        a(href="https://drive.google.com/drive/folders/1vl9Tf4FiMn5M6h6pubSHl72SXa2GbuAQ?usp=sharing") #[img(src="img/plus.png")] #[h4.holy conejoBeat+]
      div
        a(href="https://drive.google.com/drive/folders/1HoJ6oIJrbVS-q75femVrTzdOIGfE2nb3?usp=sharing") #[img(src="img/eggball.png")] #[h4.holy Conejo Golden Egg Ball]