extends main.pug

block content 
  //- #main_flux
  //-   h1.flux love: #[span.red ??%]
  //-   h2.flux awaiting user input...
  //-   h3.flux <br> conejobeat_flux • summer 2021
  #main_flux 
    h1.flux.big 99%!
    h1.flux conejobeat_flux
    h2.flux 2021.07.31 • doors: 8pm est
    h3.flux(style="margin-bottom:50px") djs: xi-n, deuveir, cavi, nanoray, doctor, nezu.
    h4.flux await 07.31 for audio stream + slurl. <br> fwd complaints: #[a(href="http://twitter.com/cnjoisland") @cnjoisland.] <br> conejo committee 2021.