extends main.pug

block content 
  #main_centre
    img.holylogo(src="weblogo.svg" style="width:90vmin; margin-bottom:24px")
    //- h1.holy(style="text-align:center; margin-bottom:12px") HOLY CONEJOBEAT
    h2.holy(style="text-align:center; margin-bottom:24px") 2021•12•11
    //- p.holy(style="text-align:center") <i>all of</i> CONEJO <i> was holy</i><br><i>all of</i> CONEJO <i> was smiling</i><br><i>and heaven was blushing!</i>