extends main.pug

block content 
  #main
    #top
      .block2
        h1 conejobeat&sharp;
        //- h2 nov&nbsp;26 / 18:45#[sup (EST)] / 18+
      //- hr
      .block2
        h2 thank you for coming~ sets to be uploaded soon.

block scripts
  script(type="text/javascript" src="/main.js?v=5")