extends main.pug

block content 
  #main(style="text-align:center")
    img.holylogo(src="logo2.svg")
    img.holysets(src="setlist.svg")
    h4.holy(style="margin-bottom:24px") 2021•12•11 | all times est | stream & slurl on day of
    //- | #[a(href="http://maps.secondlife.com/secondlife/Lendrum/141/167/317") attend in-world?] | stream:

    //- #player
      //- h3.holy(style="margin-bottom:4px;") stream:
      <audio id="stream" controls preload="none" style="width: 100%;">
        <source src="http://149.56.234.136:8190/;" type="audio/mpeg">
      </audio>
      //- h4.holy #[a(href="http://149.56.234.136:8190/;") (alt link...)]

    <hr>

    #scripturelinks 
      img(src="svg/red.svg")
      img(src="svg/pink.svg")
      img(src="svg/green.svg")
      img(src="svg/blue.svg")

    
    img.wafapainting(src="wafapainting.png")