extends main.pug

block content 
  #main
    #header
      img(src="svg/logo.svg")

    #content
      //- hr
      .block3
        h2 february 17. doors 20:45#[sup EST]. slurl and audio stream will be added before event.
        
      //- .block3 
      //-   .block2
      //-     h2 #[a(href="http://maps.secondlife.com/secondlife/CONEJO%20ISLAND/168/154/38") attend?]
      //-     h4 (to attend in Second Life, copy the above URL, and paste it into the address bar at the top of the viewer window~)
      //-   .block2
      //-     h3 …or tune in from home:
      //-     <audio controls src="http://icecast.secondstreaming.com:9009/live" style="margin-top:3px"></audio>

      .block3
        h3 approximate set times (EST)
        h2 nezu#[sup 21:00] tanamala#[sup 21:40] waterfairy#[sup 22:20] /f#[sup 23:00] cavi#[sup 23:30] jelly#[sup 00:00] lettuce&nbsp;leaf#[sup 00:20] ezra&nbsp;exorcism#[sup 00:50] cherry&nbsp;chip#[sup 01:20] goo&nbsp;girl#[sup 01:50] curaga#[sup 02:20] brand&nbsp;new#[sup 03:00]
      
      