extends main.pug

block content 
  #main_flux
    h1.flux smilemeter: #[span.red(style="font-weight:900") 99%]
    h2.flux статус критический!! #[span.red flux] неизбежно!
    h3.flux <br> [incoming: conejobeat_flux!  await: june 2021!]