extends main.pug

block content 
  #main 
    #tags
      //- <h1 style="color:rgba(0,0,0,0);text-shadow:0 0 5px #000;"></h1>
      <h1></h1>

block scripts
  script(type="text/javascript" src="/main.js")