extends main.pug

block content 
  #main
    #top
      .block2
        h1 conejobeat&sharp;
      .block1
        h3 featuring:
        h2 Neuume#[sup 19:00] CrayonMoon#[sup 19:30] EMButler#[sup 19:50] Nezu#[sup 20:20] Melty#[sup 21:00] GooGirl#[sup 21:30] Tanamala#[sup 22:00] MurderClub#[sup 22:50] Curaga#[sup 23:15] /f#[sup 23:45]
    #bottom
      h2 nov&nbsp;26 / 18:45#[sup (EST)] / 18+
      h4 this is a semi-semi-formal event—dress sharp.<br>SLURL and audio stream will be available day-of.<br>conejo is a hate-free place—keep it #PLUR.

block scripts
  script(type="text/javascript" src="/main.js?v=5")