html
  head
    title conejoBeat
    link(href="style.css" rel="stylesheet")
    link(href="fonts.css" rel="stylesheet")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    meta(charset="utf-8")
    //- icons
    link(rel="apple-touch-icon" sizes="180x180" href="icons/apple-touch-icon.png")
    link(rel="icon" type="image/png" sizes="32x32" href="icons/favicon-32x32.png")
    link(rel="icon" type="image/png" sizes="16x16" href="icons/favicon-16x16.png")
    link(rel="manifest" href="icons/site.webmanifest")
    link(rel="mask-icon" href="icons/safari-pinned-tab.svg" color="#333333")
    link(rel="shortcut icon" href="icons/favicon.ico")
    meta(name="msapplication-TileColor" content="#ffffff")
    meta(name="msapplication-config" content="icons/browserconfig.xml")
    meta(name="theme-color" content="#ffffff")
    //- tags
    meta(property="og:title" content="conejoBeat")
    meta(property="og:description" content="season 1 part 3. oct 24.")
    meta(property="og:url" content="conejoBeat.com")
    meta(property="og:image" content="http://conejobeat.com/mur-5ou.gif")
    meta(property="og:image:type" content="image/gif")
    meta(property="og:image:width" content="256")
    meta(property="og:image:height" content="256")
  body
    #nav
      div
        h3 conejoBeat
      div
        p.
          season 1 part 3. oct 24. <br>
          entry 7:30 pm est.
    #main
      //- h2 (cBs1.1)
      #c-img
        img(src="chibis-3.png")
      #c-over
        #c-left
          h2 murderclub!
          h3 8pm est!
        #c-right
          h2 5outho!
          h3 9pm est!
      #c-lower
        //- h2 see you soon…
        //- h3 (cBs1.02 complete)(await 03)
        h3 #[span.red stream.] 7:30 pm est.
        audio#stream(controls preload="none" autoplay)
          source(src="http://149.56.234.136:9994/;" type="audio/mpeg")
        h4.
          #[a.red(href="https://maps.secondlife.com/secondlife/Lendrum/180/136/339" target="_blank") attend?]
          #[a(href="http://casaconejo.neocities.org" target="_blank") casa conejo.]
          #[a(href="http://ncb0.work" target="_blank") fwd complaints.]
        p sets will be uploaded soon…