html
  head
    title 100%
    link(href="style.css" rel="stylesheet")
    link(href="fonts.css" rel="stylesheet")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    meta(charset="utf-8")
    //- icons
    link(rel="apple-touch-icon" sizes="180x180" href="icons/apple-touch-icon.png")
    link(rel="icon" type="image/png" sizes="32x32" href="icons/favicon-32x32.png")
    link(rel="icon" type="image/png" sizes="16x16" href="icons/favicon-16x16.png")
    link(rel="manifest" href="icons/site.webmanifest")
    link(rel="mask-icon" href="icons/safari-pinned-tab.svg" color="#333333")
    link(rel="shortcut icon" href="icons/favicon.ico")
    meta(name="msapplication-TileColor" content="#ffffff")
    meta(name="msapplication-config" content="icons/browserconfig.xml")
    meta(name="theme-color" content="#ffffff")
    //- tags
    //- meta(property="og:title" content="LUCKY CONEJOBEAT")
    //- meta(property="og:description" content="lucky cow music")
    //- meta(property="og:url" content="conejobeat.com")
    //- meta(property="og:image" content="http://conejobeat.com/promo.gif")
    //- meta(property="og:image:type" content="image/gif")
    //- meta(property="og:image:width" content="1024")
    //- meta(property="og:image:height" content="1024")
  body
    #nav
      #navleft
        h4.holy #[a(href="index.html") conejobeat.com]
      #navcenter
        h4.holy.desktop #[a(href="comps.html") compilations]
        h4.holy.mobile #[a(href="comps.html") comps]
      #navright
        h4.holy #[a(href="http://casaconejo.neocities.org" target="_blank") casa conejo]
    block content
        